body {
    background-image: url('media/background.png');
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p {
    font-size:40px;
    color:white;
    border-style: none;
}

mark.a {
    color:black;
    background: none;
}

mark.b {
    color:black;
    background: none;
}

mark.c {
    color:black;;
    background: none;
}

#container{
    border: 4px solid black;
    border-radius: 20px;
    background-color: rgb(31, 39, 43, .9);
    height: 70%;
    width: 70%;

}

.terminal{
    background-color: black;
    color:green;
    font-size:medium;
    margin:10%;
    height: auto;
}

.opacity{
    opacity: 0.8;
}

form{
    font-size: large;
    font-family: sans-serif;
    color:white
}

input{
    padding: 10px;
}